<meta charset="utf-8">

{% include seo.html %}

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="Hc9odCauiol5ZohtcFv0qdTQEnktJFY9c7fEHHthD0w" />

<title>Ella Minzhi Li Homepage</title>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=mPnZIQAn3w_oWVW5eCIZKDlvzeje9nGDxK4yXky9CI0&cl=ffffff&w=a"></script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>
